In [118]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
import pandas as pd

### Import semua library yang akan dipakai ###

In [119]:
agsel = pd.read_csv('car_resale_prices.csv')
agsel.head()

,Unnamed: 0,full_name,resale_price,registered_year,engine_capacity,insurance,transmission_type,kms_driven,owner_type,fuel_type,max_power,seats,mileage,body_type,city
0,0,2017 Maruti Baleno 1.2 Alpha,₹ 5.45 Lakh,2017,1197 cc,Third Party insurance,Manual,"40,000 Kms",First Owner,Petrol,83.1bhp,5.0,21.4 kmpl,Hatchback,Agra
1,1,2018 Tata Hexa XTA,₹ 10 Lakh,2018,2179 cc,Third Party insurance,Automatic,"70,000 Kms",First Owner,Diesel,153.86bhp,7.0,17.6 kmpl,MUV,Agra
2,2,2015 Maruti Swift Dzire VXI,₹ 4.50 Lakh,2015,1197 cc,Third Party insurance,Manual,"70,000 Kms",Second Owner,Petrol,83.14bhp,5.0,20.85 kmpl,Sedan,Agra
3,3,2015 Maruti Swift Dzire VXI,₹ 4.50 Lakh,2015,1197 cc,Third Party insurance,Manual,"70,000 Kms",Second Owner,Petrol,83.14bhp,5.0,20.85 kmpl,Sedan,Agra
4,4,2009 Hyundai i10 Magna 1.1,₹ 1.60 Lakh,2009,1086 cc,Third Party insurance,Manual,"80,000 Kms",First Owner,Petrol,68.05bhp,5.0,19.81 kmpl,Hatchback,Agra

### Kemudian ambil datanya dari CSV untuk di tamppilkan datanya ###

### DATA SPLIT (70 : 30)

In [120]:
X = agsel.drop(columns='engine_capacity')
y = agsel['engine_capacity']

In [121]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=40)

In [122]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(12212, 14)
(5234, 14)
(12212,)
(5234,)

### Pertama tentukan x dan y nya untuk di training set dan testing set
Disini memakai test size nya 30% atau 0,3 dari total data 100% data dan menjadi sisa data 70%

### STANDARISASI

In [123]:
agsel1 = pd.read_csv('car_resale_prices - Copy.csv')

ambil datanya dari csv untuk melakukan data preprocessing

In [124]:
sr = StandardScaler()
agsel1[['seats']] = sr.fit_transform(agsel1[['seats']])

standarisasi dengan menggunakan tipe data integer dan float

### NORMALISASI

In [125]:
x = MinMaxScaler()
agsel1[['seats']] = x.fit_transform(agsel1[['seats']])

In [126]:
agsel1['seats'].max()

0.9999999999999999

In [127]:
agsel1['seats'].min()

0.0

melakukan Normalisasi dengan menggunakan data integer dan float, setelah itu  kita tampilkan scaler min max nya

### Data Cleaning pada data duplikat

In [128]:
agsel=agsel.copy()

disini kita copy karena dalam dataset saya tidak ada duplikasi data

In [129]:
agsel = pd.concat([agsel, agsel], ignore_index=True)
print("Nilai Duplikat: ")
agsel.duplicated().sum()

Nilai Duplikat:

17446

lalu disini saya menggabungkan data asli dan data copyan, lalu menampilkan data duplikatnya

In [130]:
agsel.drop_duplicates(inplace=True)
print("NIlai Duplikat: ")
agsel.duplicated().sum()

NIlai Duplikat:

0

lalu drop lagi data duplikatnya, lalu tampilkan lagi dan hasilnya sudah 0 data duplikat

### Data Cleaning nilai null

In [131]:
agsel.isnull().sum()

Unnamed: 0             0
full_name              0
resale_price           0
registered_year       69
engine_capacity       14
insurance              7
transmission_type      0
kms_driven             3
owner_type            45
fuel_type              0
max_power            102
seats                 10
mileage              508
body_type              0
city                   0
dtype: int64

kita tampilkan dulu data-data yang memiliki nilai null dalam kolomnya, agar kita bisa tau dan kita hapus datanya

In [132]:
agsel_modus = SimpleImputer(strategy='most_frequent')
agsel[['registered_year', 'engine_capacity', 'insurance', 'kms_driven', 'owner_type', 'max_power','seats','mileage']] = agsel_modus.fit_transform(agsel[['registered_year', 'engine_capacity', 'insurance', 'kms_driven', 'owner_type', 'max_power','seats','mileage']])

In [133]:
agsel.isnull().sum()

Unnamed: 0           0
full_name            0
resale_price         0
registered_year      0
engine_capacity      0
insurance            0
transmission_type    0
kms_driven           0
owner_type           0
fuel_type            0
max_power            0
seats                0
mileage              0
body_type            0
city                 0
dtype: int64

disini saya memakai modus untuk menghapus dan panggil label/atribut yang memiliki nilai null, setelah itu tampilkan datanya lagi dan hasilnya data null telah hilang

### Ganti tipe data salah satu attribute angka

In [134]:
agsel1.dtypes

Unnamed: 0             int64
full_name             object
resale_price          object
registered_year       object
engine_capacity       object
insurance             object
transmission_type     object
kms_driven            object
owner_type            object
fuel_type             object
max_power             object
seats                float64
mileage               object
body_type             object
city                  object
dtype: object

disini tampilkan dulu data yang ingin diubah tipe datanya nanti

In [135]:
agsel1['seats'] = agsel1['seats'].astype(object)

In [136]:
agsel1.dtypes

Unnamed: 0            int64
full_name            object
resale_price         object
registered_year      object
engine_capacity      object
insurance            object
transmission_type    object
kms_driven           object
owner_type           object
fuel_type            object
max_power            object
seats                object
mileage              object
body_type            object
city                 object
dtype: object

disini saya menganti tipe data "Seats" dari float64 menjadi object

### One Hot Encoding

In [137]:
agsel2 = pd.read_csv('car_resale_prices - Copy (2).csv')

kita ambil data csv nya untuk keperluan data preprocessing

In [138]:
agsel2[['transmission_type', 'kms_driven', 'max_power']]

      transmission_type  kms_driven  max_power
0                Manual  40,000 Kms    83.1bhp
1             Automatic  70,000 Kms  153.86bhp
2                Manual  70,000 Kms   83.14bhp
3                Manual  70,000 Kms   83.14bhp
4                Manual  80,000 Kms   68.05bhp
...                 ...         ...        ...
17441            Manual  89,000 Kms    86.7bhp
17442         Automatic  68,000 Kms   157.7bhp
17443            Manual  81,000 Kms  138.03bhp
17444         Automatic  20,000 Kms   126.2bhp
17445            Manual  32,000 Kms    73.9bhp

[17446 rows x 3 columns]

In [139]:
hot_agsel = OneHotEncoder(sparse=False)
encoded_agsel = hot_agsel.fit_transform(agsel2[['transmission_type']])

c:\Users\AGSEL FALANA\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [140]:
encoded_agsel = pd.DataFrame(encoded_agsel)
agsel['Manual'] = encoded_agsel [0]
agsel['Automatic'] = encoded_agsel [1]

agsel.head()

,Unnamed: 0,full_name,resale_price,registered_year,engine_capacity,insurance,transmission_type,kms_driven,owner_type,fuel_type,max_power,seats,mileage,body_type,city,Manual,Automatic
0,0,2017 Maruti Baleno 1.2 Alpha,₹ 5.45 Lakh,2017,1197 cc,Third Party insurance,Manual,"40,000 Kms",First Owner,Petrol,83.1bhp,5.0,21.4 kmpl,Hatchback,Agra,0.0,1.0
1,1,2018 Tata Hexa XTA,₹ 10 Lakh,2018,2179 cc,Third Party insurance,Automatic,"70,000 Kms",First Owner,Diesel,153.86bhp,7.0,17.6 kmpl,MUV,Agra,1.0,0.0
2,2,2015 Maruti Swift Dzire VXI,₹ 4.50 Lakh,2015,1197 cc,Third Party insurance,Manual,"70,000 Kms",Second Owner,Petrol,83.14bhp,5.0,20.85 kmpl,Sedan,Agra,0.0,1.0
3,3,2015 Maruti Swift Dzire VXI,₹ 4.50 Lakh,2015,1197 cc,Third Party insurance,Manual,"70,000 Kms",Second Owner,Petrol,83.14bhp,5.0,20.85 kmpl,Sedan,Agra,0.0,1.0
4,4,2009 Hyundai i10 Magna 1.1,₹ 1.60 Lakh,2009,1086 cc,Third Party insurance,Manual,"80,000 Kms",First Owner,Petrol,68.05bhp,5.0,19.81 kmpl,Hatchback,Agra,0.0,1.0

kita cari label/atribut untuk menjadi bahan OneHot Encoding, lalu kita tampilkan

In [141]:
agsel2 = pd.concat([agsel2, encoded_agsel], axis=1)
agsel2.head()

,Unnamed: 0,full_name,resale_price,registered_year,engine_capacity,insurance,transmission_type,kms_driven,owner_type,fuel_type,max_power,seats,mileage,body_type,city,0,1
0,0,2017 Maruti Baleno 1.2 Alpha,₹ 5.45 Lakh,2017,1197 cc,Third Party insurance,Manual,"40,000 Kms",First Owner,Petrol,83.1bhp,5.0,21.4 kmpl,Hatchback,Agra,0.0,1.0
1,1,2018 Tata Hexa XTA,₹ 10 Lakh,2018,2179 cc,Third Party insurance,Automatic,"70,000 Kms",First Owner,Diesel,153.86bhp,7.0,17.6 kmpl,MUV,Agra,1.0,0.0
2,2,2015 Maruti Swift Dzire VXI,₹ 4.50 Lakh,2015,1197 cc,Third Party insurance,Manual,"70,000 Kms",Second Owner,Petrol,83.14bhp,5.0,20.85 kmpl,Sedan,Agra,0.0,1.0
3,3,2015 Maruti Swift Dzire VXI,₹ 4.50 Lakh,2015,1197 cc,Third Party insurance,Manual,"70,000 Kms",Second Owner,Petrol,83.14bhp,5.0,20.85 kmpl,Sedan,Agra,0.0,1.0
4,4,2009 Hyundai i10 Magna 1.1,₹ 1.60 Lakh,2009,1086 cc,Third Party insurance,Manual,"80,000 Kms",First Owner,Petrol,68.05bhp,5.0,19.81 kmpl,Hatchback,Agra,0.0,1.0

In [142]:
agsel_dummies = pd.get_dummies(agsel2[['transmission_type']]).replace(False, 0).replace(True, 1)

In [143]:
agsel2 = pd.concat([agsel2, agsel_dummies], axis=1)

In [144]:
agsel2.drop(columns=['transmission_type'], inplace=True)
agsel2.head()

,Unnamed: 0,full_name,resale_price,registered_year,engine_capacity,insurance,kms_driven,owner_type,fuel_type,max_power,seats,mileage,body_type,city,0,1,transmission_type_Automatic,transmission_type_Manual
0,0,2017 Maruti Baleno 1.2 Alpha,₹ 5.45 Lakh,2017,1197 cc,Third Party insurance,"40,000 Kms",First Owner,Petrol,83.1bhp,5.0,21.4 kmpl,Hatchback,Agra,0.0,1.0,0,1
1,1,2018 Tata Hexa XTA,₹ 10 Lakh,2018,2179 cc,Third Party insurance,"70,000 Kms",First Owner,Diesel,153.86bhp,7.0,17.6 kmpl,MUV,Agra,1.0,0.0,1,0
2,2,2015 Maruti Swift Dzire VXI,₹ 4.50 Lakh,2015,1197 cc,Third Party insurance,"70,000 Kms",Second Owner,Petrol,83.14bhp,5.0,20.85 kmpl,Sedan,Agra,0.0,1.0,0,1
3,3,2015 Maruti Swift Dzire VXI,₹ 4.50 Lakh,2015,1197 cc,Third Party insurance,"70,000 Kms",Second Owner,Petrol,83.14bhp,5.0,20.85 kmpl,Sedan,Agra,0.0,1.0,0,1
4,4,2009 Hyundai i10 Magna 1.1,₹ 1.60 Lakh,2009,1086 cc,Third Party insurance,"80,000 Kms",First Owner,Petrol,68.05bhp,5.0,19.81 kmpl,Hatchback,Agra,0.0,1.0,0,1

terakhir kita gabungkan data asli dengan data hasil onehot encoding, Kita juga dapat menggunakan get_dummies dari Pandas untuk menerapkan one-hot encoding. lalu kita tampilkan lagi datanya